.container {
  padding: 7.5rem;
  text-align: center;
  background: var(--bs-highlight-color);
  max-width: -webkit-fill-available;
}
.heading {
  color: white;
  font-weight: bold;
}
.text {
  color: white;
}
.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-left: 250px;
  padding-right: 250px;
  margin: 20px;
}
.card {
  flex: 1 1 calc(25% - 20px);
  min-width: 300px;
  max-width: 300px;
  height: 30rem;
  border: 2px solid lightgrey !important;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-add-to-cart {
  margin-left: 25%;
  margin-right: 25%;
  background: white;
  border-color: black;
  color: black;
}
.btn-add-to-cart:hover {
  background: var(--bs-highlight-color);
  border-color: white;
}
.card-title {
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-description {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.card-text {
  text-align: center;
}
.card-body {
  height: 50%;
}
.card-img-top {
  height: 50%;
  padding: 5%;
}
.py-5 {
  background: whitesmoke;
  height: -webkit-fill-available;
}
.text-body {
  text-decoration: none;
}
.detail-card-img-top {
  width: 50%;
}
.img-thumbnail {
  margin-top: 1rem;
}
.colmn {
  box-shadow: 2px 2px 6px rgb(80, 79, 79);
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0px !important;
}

.stars {
  justify-content: center;
}
.big-row {
  margin-top: 5%;
}
.quantity-mb {
  margin-bottom: 5px !important;
}