# python
__pycache__
*.py[co]
*.py[oc]
build/
dist/
wheels/
*.egg*
.venv
CACHE
.env
.docker.env
/.project
/.pydevproject
/.settings
/.idea
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo
.DS_Store
._*
Thumbs.db
Desktop.ini
*.db
*.log
*.bak
.vagrant
.ssh
tags
uploads/
media/
*.lock
*.coverage
.vscode
*.pyc
.python-version
*.mo