{% extends "base/website/base_app.html" %}

{% block website_body %}

    {% if messages %}
        <script id="django-messages" type="application/json">
            [
            {% for message in messages %}
                {
                    "level": "{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}",
                    "text": "{{ message|escapejs }}"
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
            ]
        </script>
    {% endif %}

    {% include "inc/navbar.html" %}
    {% block website_content %}
    {% endblock %}
    {% include "inc/footer.html" %}

{% endblock %}
