{% load crispy_forms_field %}

<div class="custom-radio-group">
    {% for value, label in field.field.choices %}
        <div class="checkout-card-option mb-3">
            <label class="checkout-card d-flex align-items-center gap-2 ">
                <input
                        type="radio"
                        name="{{ field.html_name }}"
                        value="{{ value }}"
                        {% if field.value == value %}checked{% endif %}
                        class="form-check-input"
                >
                <span>{{ label }}</span>
            </label>
        </div>
    {% endfor %}

    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>
