{% extends "base/website/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block website_content %}
    <section>
        <div class="container min-vh-100 py-5 custom-container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="cart-section col-12">

                    <div class="d-flex justify-content-between align-items-center w-100 mb-4">
                        <div class="d-flex align-items-center">
                            <h3 class="fw-normal mb-0">Shopping Cart</h3>
                            <h3 class="fw-normal mb-0 ms-2">({{ cart_count }} {{ num_items }})</h3>
                        </div>

                        <div>
                            <p class="mb-0">
                                <span class="text-muted">Sort by:</span>
                                <a href="#" class="text-body">price
                                    <i class="fas fa-angle-down mt-1"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                    {% if cart_items %}

                        <div class="row gap-2">
                            <div class="col-md-8 p-0">

                                {% for item in cart_items %}
                                    <div class="product-cart-card d-flex row justify-content-between border border-1 rounded-4 p-4 bg-white my-3">
                                        <div class="col col-md-3 d-flex justify-content-center align-items-center">
                                            <div class="d-flex product-image justify-content-center align-items-center h-75">
                                                <img class="img-fluid border rounded-4 h-100" src="{{ item.image.url }}"
                                                     alt="product image"/>
                                            </div>
                                        </div>
                                        <div class="col col-md-5">
                                            <div class="fs-6 d-inline-block text-start text-muted">{{ item.subcategory }}</div>
                                            <div class="fs-3 fw-normal text-start text-nowrap text-truncate">{{ item.name }}</div>
                                            <div class="fs-5 fw-normal text-start stock-label">{{ item.stock }}</div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                {% crispy item.update_form %}
                                            </div>
                                        </div>
                                        <div class="col col-md-3 d-flex flex-column justify-content-between">
                                            <div class="d-flex align-items-center justify-content-end">
                                                {% crispy item.remove_form %}
                                            </div>
                                            <div class="d-flex justify-content-end flex-column">
                                                <div class=" align-items-center fs-5 text-end fw-semibold">
                                                    $ {{ item.subtotal }}</div>
                                                <div class="align-items-center fs-sm-6 text-end text-muted" id="item-price">
                                                    $ {{ item.price }} each
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="col">
                                <div class="d-flex justify-content-center border border-1 rounded-4 bg-white my-3">
                                    <div class="d-flex flex-column w-75">
                                        <div class="h5 fw-normal my-4">Order Summary</div>
                                        <div class="d-flex flex-column">
                                            <form class="d-flex flex-column" method="POST">
                                                <div class="p3 w-100">Promo Code</div>
                                                <div class="row my-2 gap-1">
                                                    {% crispy promo_form %}
                                                </div>
                                            </form>
                                        </div>
                                        <div class="border border-1 border-bottom my-2"></div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="p2 d-inline-flex text-muted">Subtotal</div>
                                            <div class="p2 d-inline-flex text-muted">{{ total }}</div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="p2 d-inline-flex text-muted">Shipping</div>
                                            <div class="p2 d-inline-flex text-muted">{{ shipping }}</div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="p2 d-inline-flex text-muted">Tax (8%)</div>
                                            <div class="p2 d-inline-flex text-muted">{{ tax }}</div>
                                        </div>
                                        <div class="border border-1 border-bottom my-2"></div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="p2 fw-semibold">Total</div>
                                            <div class="h5 fw-bold">{{ grand_total }}</div>
                                        </div>

                                        <div class="d-flex w-100 justify-content-center align-items-center">
                                            <div class="d-flex flex-column w-100">
                                                {% crispy checkout_form %}
                                                <a href="{% url 'homepage' %}">
                                                    <button class=" btn btn-secondary border-1 border-light-subtle bg-white text-dark w-100 mb-4">
                                                        Continue shopping
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="text-center py-5">
                            <h1>Cart is empty</h1>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% include "inc/newsletter.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}