{% extends "base/website/base.html" %}


{% block website_content %}
<section class="h-100">
  <div class="container h-100 py-5 custom-container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>
        {% if cart_items %}
        {% for item in cart_items %}
        <div class="shopping-card-custom rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="{{item.image.url}}"
                  class="img-fluid rounded-3" alt="Product image">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{item.name}}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form1" min="0" name="quantity" value="1" type="number"
                  class="form-control form-control-sm" />

                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">${{ item.price }}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                {%load static%}
                <a href="{% url 'remove_from_cart' item.id %}" class="text-danger"><img class="cart-link" src="{% static "images/657059.png"%}"></img></a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
          <h2>Total: ${{ total}} </h2>
        <div class="card-payment">
            <div class="card-body card-body-cart">
              <a href="{% url 'clear_cart' %}" class="btn btn-warning btn-block btn-lg btn-custom">
                Clear Cart
              </a>
            </div>
            <div class="card-body card-body-cart">
              <a href="" class="btn btn-warning btn-block btn-lg btn-custom">
                Checkout
              </a>
            </div>
        </div>
        {% else  %}
        <div class="fluid-container-custom">
          <h1>Card is empty</h1>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{%endblock%}