{% extends "base/website/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block website_content %}
    <div class="container min-vh-100 mt-5 custom-container">
        <div class="d-flex">
            <a href="{% url 'cart' %}"
               class="text-decoration-none text-dark fw-medium gap-2 d-flex align-items-baseline"><i
                    class="fa-solid fa-arrow-left"></i>Back to Cart</a>
        </div>
        <div class="py-5">
            <h5>Checkout</h5>
        </div>
        {% if cart_items %}
            <div class="row checkout-row gap-3">
                <div class="col d-flex justify-content-between px-0">
                    <div class="w-100">
                        {% crispy form %}
                    </div>
                </div>
                <div class="col col-md-4 border border-1 rounded-4 bg-white p-4 h-100 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                    </h4>
                    {% for item in cart_items %}
                        <div class="p-1">
                            <div class="row d-flex gap-3">
                                <div class="col p-0">
                                    <img class="img-fluid border border-0 rounded-4 h-100" src="{{ item.image.url }}"
                                         alt="Card image cap">
                                </div>
                                <div class="col p-0">
                                    <h5 class="fw-medium fs-6 mb-0">{{ item.name }}</h5>
                                    <p class="card-text"><small class="text-muted">Qty: {{ item.quantity }}</small></p>
                                </div>
                                <div class="col p-0">
                                    <p class="fw-medium fs-6 d-flex justify-content-center">${{ item.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="border border-1 border-bottom my-2"></div>
                    <div class="d-flex justify-content-between align-items-center text-muted mt-1">
                        <div class="p2 fw-semibold">Subtotal</div>
                        <div class="fs-5 fw-normal grand-total-price" id="subtotal" data-subtotal="{{ total }}">
                            $ {{ total }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center text-muted mt-1">
                        <div class="p2 fw-semibold">Delivery</div>
                        <div class="fs-5 fw-normal grand-total-price" id="shipping-price"
                             data-shipping="{{ shipping_price }}">
                            $ {{ shipping_price }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center text-muted mt-1">
                        <div class="p2 fw-semibold">Tax(8%)</div>
                        <div class="fs-5 fw-normal grand-total-price" id="tax" data-tax="{{ tax }}">
                            $ {{ tax }}
                        </div>
                    </div>
                    <div class="border border-1 border-bottom my-2"></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="p2 fw-semibold">Total</div>
                        <div class="fs-5 fw-normal grand-total-price" id="grand-total" data-subtotal="{{ total }}"
                             data-shipping="{{ shipping_price }}" data-tax="{{ tax }}">
                            $ {{ grand_total }}
                        </div>
                    </div>
                    <div class="">
                        <button type="submit"
                                form="checkout-form"
                                class="btn btn-add-to-cart w-100 mt-3 text-white d-flex align-items-center justify-content-center gap-3">
                            <i class="fa-solid fa-shopping-bag"></i>
                            Place Order
                        </button>
                    </div>
                    <div class="justify-content-center d-flex align-items-center mt-3">
                        <div class="text-muted text-center small">
                            By placing your order, you agree to our Terms of Service and Privacy Policy.
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% include "inc/newsletter.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}

