{% extends "base/website/base.html" %}

{% load static crispy_forms_tags %}

{% block website_content %}
    {% if breadcrumbs %}
        {% include "inc/breadcrumbs.html" %}
    {% endif %}
    <div class="container min-vh-100">
        <div class="row big-row product-detail d-flex">
            <div class="col-md-6 mb-4 column">
                <img src="{{ primary_image.image.url }}" class="w-100 border border-0 rounded-3 product-detail-primary"
                     alt="Product Image">
                <div class="card-body">
                    <div class="row g-2">
                        {% for image in images %}
                            <div class="col-3 d-inline-flex product-detail-thumbnail">
                                <img src="{{ image.image.url }}"
                                     class="img-thumbnail p-0 w-100 gallery-thumb {% if image == primary_image %}active{% endif %}"
                                     data-full="{{ image.image.url }}"
                                     alt="{{ image.alt_text }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="fw-semibold text-light-blue">
                    {{ product.brand }}
                </div>
                <div class="fs-3 fw-bold text-wrap ">
                    {{ product.name }}
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center gap-4">
                        <div class="d-flex fs-7">
                            <div class="text-warning me-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <span class="text-muted fs-7">(128 reviews)</span>
                        </div>
                        <div class="fs-7 fw-semibold text-start stock-label">
                            {{ stock_icon }}{{ stock_label }}
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex gap-2 align-items-baseline">
                    <div class="d-flex align-items-center">
                        <span class="h4 me-2 fw-semibold" id="price">$ {{ product.price }}</span>
                    </div>
                </div>
                <div class="d-flex">
                    Color:
                </div>
                <div class="d-flex mb-2">
                    Quantity
                </div>
                {% crispy form %}
                {% crispy buy_now %}
                <div class="border border-bottom border-light-blue border-1 border-opacity-10"></div>
                <div class="d-inline-flex flex-wrap mt-4 justify-content-between w-75">
                    <div class="d-flex align-items-center mb-2 gap-2">
                        <div class="d-flex border rounded-3 bg-light-blue text-light-blue justify-content-center p-2 border-0">
                            <i class="fas fa-truck text-primary"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fs-6 fw-medium">Free delivery</span>
                            <span class="text-muted">On orders over $50</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2 gap-2">
                        <div class="d-flex border rounded-3 bg-light-blue text-light-blue justify-content-center p-2 border-0">
                            <i class="fas fa-undo text-primary"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fs-6 fw-medium">Easy return</span>
                            <span class="text-muted">30-day return policy</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-flex border rounded-3 bg-light-blue text-light-blue justify-content-center p-2 border-0">
                            <i class="fas fa-shield-alt text-primary"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fs-6 fw-medium">2-year warranty</span>
                            <span class="text-muted">Official manufacturer warranty</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details d-flex border-bottom border-light-blue mt-3">
            <button class="btn btn-tab active w-100"
                    data-target="description">
                Description
            </button>

            <button class="btn btn-tab w-100"
                    data-target="specifications">
                Specifications
            </button>

            <button class="btn btn-tab w-100"
                    data-target="reviews">
                Reviews(1234)
            </button>
        </div>
        <div id="description" class="tab-content d-flex flex-column mt-5">
            {{ product.description|safe }}
        </div>

        <div id="specifications" class="tab-content d-none mt-5">
            <div class="d-flex flex-column border border-1 rounded-3 w-100 bg-light-grey-dark">
                {% for spec in specs %}
                    <div class="d-flex spec fs-6 fw-medium border-bottom border-light-blue p-2 row w-100">
                        <div class="d-flex gap-2">
                            <div class="col-4 col-md-4 fs-6 fw-medium">{{ spec.specification_name }}</div>
                            <div class="fs-7 fw-medium text-muted">
                                {{ spec.specification_value }}{{ spec.specification_measurement_unit }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="reviews" class="tab-content d-none mt-5">
            reviews
        </div>

        <div class="d-flex justify-content-between mt-5">
            <div class="fs-4 fw-medium">
                Related Products
            </div>
            <div class="d-flex gap-2">
                <a href="{% url 'products' %}"
                   class="text-decoration-none text-dark fs-6 fw-normal d-flex align-items-baseline gap-2">View all<i
                        class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>

        <div class="related-products d-flex mb-5 flex-wrap">
            {% for product in related %}
                <div class="col-auto col-xxl-3 p-2 justify-content-center align-items-center d-inline-block">
                    {{ product }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "inc/newsletter.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/product_detail.js' %}"></script>
{% endblock %}