{% extends "cabinet_base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
        <div class="d-flex justify-content-center my-5">
            <div class="border border-2 border-light-grey rounded-4 bg-white custom-login-main-wrapper p-5">
                <div class="d-flex flex-column align-items-center">
                    <div class="fs-2 fw-bold">
                        Password Change
                    </div>
                    {% crispy form %}
                </div>
            </div>
        </div>
    {% include "inc/newsletter.html" %}
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}